html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: "Microsoft JhengHei", sans-serif;
}

#three-canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 10;
    font-size: 20px;
    user-select: none;
}
